<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        body {
            font-family: Arial;
            text-align: center;
            background: #0f172a;
            color: white;
        }

        .box {
            background: #1e293b;
            padding: 20px;
            margin: 50px auto;
            width: 400px;
            border-radius: 10px;
        }

        input, button {
            padding: 10px;
            margin: 10px;
        }

        canvas {
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <div class="box">
        <h2>🚀 AI Resume Analyzer</h2>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="resume" required>
            <br>
            <button type="submit">Analyze Resume</button>
        </form>

        <h3>Score: {{ score }}/100</h3>

        <h3>Skills Found:</h3>
        <ul>
            {% for skill in skills %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>

        <canvas id="myChart"></canvas>
    </div>

<script>
    var score = {{ score }};
    var remaining = 100 - score;

    var ctx = document.getElementById('myChart').getContext('2d');

    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Score', 'Remaining'],
            datasets: [{
                data: [score, remaining],
                backgroundColor: ['#22c55e', '#ef4444']
            }]
        }
    });
</script>

</body>
</html>